/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* src/App.css */
body {
  font-family: Arial, sans-serif;
 margin: 0;
  padding: 0;
}

header {
  /* background-color: #333; */
  color: #fff;
  padding: 1em;
  text-align: center;
}

header  ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: 500;
  font-size: X-large;
  justify-content: space-between;
}

header nav ul li {
  margin-right: 60px;
}

header nav a {
  color: #fff;
  text-decoration: none;
 
}

.hero-section {
  background-image: url('./trijal-electrikals/Images/World.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: #fff;
}
.hero1{
  display: flex;
  margin: 100px;
}

.about-section {
  padding: 2em;
}

.services-section {
  padding: 2em;
}

.testimonials-section {
  padding: 2em;
}

.contact-section {
  padding: 2em;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}

.header-main{
  display: flex;
  justify-content: space-between;
}
.logo-name{
  font-size: x-large;
  color: red;
}
.para-logo{
  font-size: xx-small;
}
.paetnership{
    background-image: url('./trijal-electrikals/Images/Puzel.jpeg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: #fff;
}